body {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/HMPNPRBUJ7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
   h1{
       text-align: center;
       color: rgb(4, 41, 161);
       padding: 390px;
       font-weight: bolder;
       font-size: 50px;
   }
   h2{
       text-align: center;
       font-weight: bolder;
       color: azure;
       padding-top: 20px;
       font-size: 40px;
   }
    p{
        text-align: center;
   }
   #img {
        border-radius: 50%;
        margin-left:45%;
  } 
  .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;  
        width: auto;   
        box-sizing: inherit;
        align-items: center; 
  }
  img{
      padding-left: 15px;
      margin-left: 25%;
      padding-top: 0%;
  }
  .about-me{
      background-color: royalblue;
  }
  h4{
      color: aliceblue;
  }
  strong{
      color: aliceblue;
  }
  .one{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: auto;
  }
  h5{
      font-size: 17px;
      color: aliceblue;
  }
  .projects{
      background-color: rgb(127, 182, 255);
  }
  footer {
    position: relative;
    left: 0;
    bottom: 0;
    height:auto;
    width: 100%;
    background-color: rgb(20,20,28);
    color: white;
    text-align: center;
    padding: 10px;
 }
 .foot{
     display: flex;
     justify-content: space-between;
 }

 

  